.App {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.logs {
  flex: 1;
  align-items: stretch;
}

.time {
  flex: 1;
}

.lists {
  flex: 1;
}

progress.complete::-moz-progress-bar {
  background: red; 
}
progress.complete::-webkit-progress-value {
  background: red;
}