.App {
  display: flex;
  height: 100%;
  padding: 1em;
  gap: 1em;
  align-items: stretch;
}

.logs {
  flex: 1;
  align-items: stretch;
}

.lists {
  flex: 1;
}

progress.complete::-moz-progress-bar {
  background: red; 
}
progress.complete::-webkit-progress-value {
  background: red;
}

.hover-container {
  &:not(:hover) .show-on-hover {
    display: none !important;
  }
  &:hover {
    .show-on-hover {
      display: block;
    }
    .hide-on-hover {
      display: none !important;
    }
  }
}